<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap" rel="stylesheet">
    <style>

        body{
            background-color: #6499E9;
        }
        h1{
            color: #BEFFF7;
            font-size: 90px;
            font-family: 'Archivo Narrow', sans-serif;
        }

        p{
            position: absolute;
            bottom: 0;
            color: #BEFFF7;
            font-size: 40px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    </style>
</head>
<body>
    <h1><%= data %></h1>
    <p>Refresh</p>
</body>
</html>